node_modules/
bower.json
static/js/node_modules/
static/css/node_modules/
static/*_bz
*.svn
*.log
*.pyc
*.pid
*.swp
.ropeproject
bin/
include/
lib64
.idea/
.DS_Store
js_bz
bower_components
agent.conf
agent.log
*.orig
*.swo
conf/
*.dump
db_bak
