<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}test{% end %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{% block description %}for test{% end %}" />
        <meta name="keywords" content="{% block keywords %}test{% end %}" />
        <link rel='shortcut icon' href='/static/images/login-logo.png' />

        <link href="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.css" type="text/css" rel="stylesheet"/>

        <link href="/static/node_modules/simditor/styles/simditor.css" type="text/css" rel="stylesheet"/>

        <link href="/static/node_modules/toastr/build/toastr.min.css" type="text/css" rel="stylesheet"/>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
            {% block css %}
            {% end %}
    </head>
    <body class="skin-black layout-top-nav">
        <div id="v_test" class="container">
            <vnav :navbar_header="navbar_header" :nav_links="nav_links"></vnav>
            <main-login :oauths="oauths"></main-login>
            <hr>
            <simditor :content.sync="simditor_content"></simditor>
            <hr>
            <div>格式化时间戳1447835496000  
                输出<span v-text="1447835496000 | dateformat 'yyyy-MM-dd'">
                </span>
            </div>
        </div>
        <script src="/static/node_modules/vue/dist/vue.js"></script>
        <script src="/static/node_modules/vue-router/dist/vue-router.js"></script>

        <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="//oss.maxcdn.com/semantic-ui/2.1.7/semantic.min.js"></script>
        <script src="/static/node_modules/underscore/underscore-min.js"></script>
        <script src="/static/node_modules/qtip2/jquery.qtip.min.js"></script>


        <script src="/static/node_modules/simditor/node_modules/simple-module/lib/module.js" type="text/javascript"></script>
        <script src="/static/node_modules/simditor/node_modules/simple-hotkeys/lib/hotkeys.js" type="text/javascript"></script>
        <script src="/static/node_modules/simditor/node_modules/simple-uploader/lib/uploader.js" type="text/javascript"></script>
        <script src="/static/node_modules/simditor/lib/simditor.js" type="text/javascript"></script>
        <script src="/static/build/test.js" type="text/javascript"></script>


        {% block js %}
        {% end %}
    </body>
</html>
