<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="text-center">用户注册</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input type="text" v-model="user_name"  class="form-control" placeholder="请输入用户名" v-on="focus:cleanError">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                <input type="text" v-model="email" v-regexp="'^([a-z0-9]*[-_]?[a-z0-9]+)*@([a-z0-9]*[-_]?[a-z0-9]+)+[\.][a-z]{2,3}([\.][a-z]{2})?$': email" class="form-control" placeholder="请输入邮箱地址，便于密码找回" v-on="focus:cleanError">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input type="password" v-model="password" class="form-control" id="password" placeholder="请输入密码" v-on="keyup: signup | key 'enter',focus:cleanError">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input type="password" v-model="repassword" class="form-control" id="password" placeholder="再次输入密码" v-on="keyup: signup | key 'enter',focus:cleanError">
            </div>
        </div>
        <div class="form-group">
            <button v-btn-loading="loading" v-on="click: signup" class="btn  btn-default btn-lg btn-block bz-signup-btn" v-disable="loading">注册 </button>
        </div>
    </div>
</div>
<error-info-panel error-info="(%error_info%)"></error-info-panel>
