<li v-show="user_info" class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="glyphicon glyphicon-user"></i>
        <span>(%user_info.user_name%)<i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">
        <!-- User images -->
        <li class="user-header bg-light-blue">
            <img :src="avatar" class="img-circle">
            <p>
            (%user_info.user_name%) <br />
            (%user_info.email%)

            <small>(%desc%)</small>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="/profile" class="btn btn-default btn-flat">个人资料</a>
                </div>
                <div class="btn-group">
                    <a @click="delAndLogout" class="btn btn-default btn-flat">安全退出</a>
                </div>
            </div>
        </li>
    </ul>
</li>
<li v-show="!user_info" ><a href="/login"><i class="fa fa-sign-in"></i> 登录</a></li>
