<nav class="ui top fixed pointing menu">
    <a class="header item" :href="navbar_header.href"><b>(%navbar_header.name%)</b></a>
    <a class="item" v-for="link in nav_links" :href="link.href" :target="link.target">(%link.name%)</a>
    <div class="right menu ">
        <div class="item large monitor only">
            <form :submit="search" class="ui  transparent icon input">
                <input v-model="search_value" type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </form>
        </div>
    </div>
</nav>
